<div id="breadcrumbs">
  <span><a href="/">Homepage</a></span>
  <span>&gt;</span>
  <span>Crossbow</span>
</div>
<h1>Crossbow</h1>
<hr>
<p>
  For the <a href="http://www.youtube.com/watch?v=mz-JQ2e_vBo">video</a> detailing how to build this click on the third word.
</p>
<p>
  If you don't want to make a paper crossbow then click <a href="/assets/img/leavenow.jpg">here</a>.
</p>
<br>
<img src="img/crossbow.jpg">
<br><br><br>
