<div id="breadcrumbs">
  <span><a href="/">Homepage</a></span>
  <span>&gt;</span>
  <span>Electromagnet</span>
</div>
<h1>Electromagnet</h1>
<hr>
<p>
  James and Shine made an electromagnet recently, which James says looks like a bomb. Shine hopes it isn't.
</p>
<p>
  DISCLAIMER:
</p>
<p>
  James Hutchinson and Shine Sun are not responsible for any losses that arise from the creation of these devices.
</p>
<br>
<p>
  Don't place near magnetic storage devices (Computers, etc.).<br />
  Don't destroy the world with this device.<br />
  Otherwise, have fun!
</p>
<div style="height: 0.01px"></div><!-- Prevents margin collapse -->
<h2>
  <u><strong>WARNING! HARMFUL IF SWALLOWED!</strong></u>
</h2>
<p>
  <a href="/instructions/page2"><u><strong>Materials</strong></u></a>
</p>
<p>
  <a href="/instructions/page3"><u><strong>Instructions</strong></u></a>
</p>
<br>
<p style="line-height: 1.25em">
  <a href="/instructions/page2">To the Materials</a><br>
  <a href="/instructions/page3">To the Directions</a>
</p>