<h1>Welcome to JamestheShine!</h1>
<hr>
<p>This website has either been dedicated to showing you how to make an electromagnet (interesting) or consuming your time (less interesting).</p>
<p><a href="electromagnet">Electromagnet Instructions</a></p>
<p><a href="crossbow">Paper Crossbow instructions</a></p>
<p><a href="origami">Origami instructions</a></p>
