<div id="breadcrumbs">
  <span><a href="/">Homepage</a></span>
  <span>&gt;</span>
  <span><a href="/electromagnet">Electromagnet</a></span>
  <span>&gt;</span>
  <span>Instructions page 2</span>
</div>
<h1>Materials needed:</h1>
<hr>
<ul>
  <li>Over 2 ft. Insulated copper wire (more can make it stronger)</li>
  <li>1 Iron rod (long and thin, yet sturdy ones work best)</li>
  <li>1 ft. Duct tape</li>
  <li>1 Lantern battery</li>
  <li>1 pair of Wire cutters</li>
  <li>1 Compass (to test it)</li>
  <li>(optional) 1 Switch and wire adapting tools</li>
  <li>(optional) Rubber gloves</li>
</ul>
<br>
<a href="/instructions/page3">To the Directions</a>
