<div id="breadcrumbs">
  <span><a href="/">Homepage</a></span>
  <span>&gt;</span>
  <span><a href="/electromagnet">Electromagnet</a></span>
  <span>&gt;</span>
  <span>Instructions page 3</span>
</div>
<h1>Directions:</h1>
<hr>
<p>
  Starting at least six inches down the wire, wrap it tight around the iron rod. Stop wrapping no more than one inch from the tip. Cut the wire six inches from the end of the wrapping. Duct tape the wires in place. Attach the wires to the battery, using the switch if available. Positive/negative terminal swapping is fine.
  <br>
  Test with the compass by setting it down and encircling it with the metal tip of the iron rod. If nothing happens, make sure the electomagnet is turned on.
</p>
