<div id="breadcrumbs">
  <span><a href="/">Homepage</a></span>
  <span>&gt;</span>
  <span>Origami</span>
</div>
<h1>Origami</h1>
<hr>
<p>
  Shine finally was able to get the concept of backwards folds into James' thick skull.
</p>
<p>
  Now James can make three more paper figures that aren't tanks.
</p>
<br><br><br>
<img src="img/origamiCrane.jpg">
<img src="img/origamiBoat.jpg">
<img src="img/origamiStar.jpg">
<br><br><br>
