<div id="breadcrumbs">
  <span><a href="/">Homepage</a></span>
  <span>&gt;</span>
  <span>Photogallery</span>
</div>
<h1>Photogallery</h1>
<hr>
<div class="bgGray galleryContainer">
  <a href="/assets/img/electromagnet1.jpg"><img class="galleryImage" src="img/electromagnet1.jpg"></a>
  <a href="/assets/img/electromagnet2.jpg"><img class="galleryImage" src="img/electromagnet2.jpg"></a>
  <a href="/assets/img/crossbow.jpg"><img class="galleryImage" src="img/crossbow.jpg"></a>
  <a href="/assets/img/origamiCrane.jpg"><img class="galleryImage" src="img/origamiCrane.jpg"></a>
</div>
<div class="galleryContainer">
  <a href="/assets/img/origamiBoat.jpg"><img class="galleryImage" src="img/origamiBoat.jpg"></a>
  <a href="/assets/img/origamiStar.jpg"><img class="galleryImage" src="img/origamiStar.jpg"></a>
</div>
