<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
   <channel>
    <atom:link href="https://{{getRoot}}/rss/all.xml" rel="self" type="application/rss+xml"/>
      <title><![CDATA[{{getRoot}}]]></title>
      <link>https://{{getRoot}}/archive/news/</link>
      <description/>
      <language>en</language>
      <pubDate/>
      <lastBuildDate/>
      <docs>http://blogs.law.harvard.edu/tech/rss</docs>
   </channel>
</rss>
