<div id="breadcrumbs">
  <span><a href="/">Homepage</a></span>
  <span>&gt;</span>
  <span>Site Map</span>
</div>
<h1>Site map</h1>
<hr>
<ul class="sitemapList">
  <li>
    <a href="/electromagnet">Electromagnet</a>
    <ul>
      <li><a href="/instructions/page2">Instructions page 2</a></li>
      <li><a href="/instructions/page3">Instructions page 3</a></li>
    </ul>
  </li>
  <li><a href="/crossbow">Crossbow</a></li>
  <li><a href="/origami">Origami</a></li>
  <li><a href="/photogallery">Photogallery</a></li>
  <li><a href="/bibliography">Bibliography</a></li>
</ul>
